[submodule "sqlcipher"]
	path = sqlcipher
	url = https://github.com/sqlcipher/sqlcipher.git
[submodule "MtProtoKit"]
	path = MtProtoKit
	url = https://github.com/peter-iakovlev/MtProtoKit.git
[submodule "Signals"]
	path = Signals
	url = https://github.com/peter-iakovlev/Signals.git
[submodule "pop"]
	path = pop
	url = https://github.com/facebook/pop.git
